{% extends 'common/backTemplate.php.twig' %}

{% block title %}

    <title>CoyoTech | Articles</title>

{% endblock %}

{% block head %}

    {{parent()}}

{% endblock %}

{% block header %}

        {{parent()}}
	

{% endblock %}

{% block content %}

    <div class="container mt-5">
	<h1 style="color:#fff; padding-top: 20px;" >Liste des articles</h1>
	<div class="container">
		<div class="row">
			<div class="col table-responsive">
				<table class="table table-light table-striped table-hover table-sm">
					<thead class="thead-light">
						<tr>
							<th scope="col" class="text-center">Titre</th>
         					<th scope="col" class="text-center">Publication</th>
         					<th scope="col" class="text-center">Date de dernière mise à jour</th>
          					<th scope="col" class="text-center">Modifier</th>
          					<th scope="col" class="text-center">Supprimer</th>
						</tr>
					</thead>

					{% for article in articles %}
					<tbody class="tbody-light">
        				<tr>
         					<td class="text-center"><strong>{{ article.title }}</strong></td>
          					<td class="text-center">
            					<span class="badge  <?php echo {{ article.publication ?'badge-success':'badge-danger' }}">{{article.publication ?'oui':'non'}}</span>
          					</td>
         					<td class="text-center">{{ article.update_date|date("d/m/Y") }}
          					</td>
          					<td class="text-center">
          					<!--Renvoi vers la page modifier-->
            					<a href="/blog-mvc/Article/edit/{{ article.article_id }}">	<img src="/blog-mvc/assets/images/pen.png" style="width: 25px;" alt=""></a>
          					</td>
          					<td class="text-center">
           						<button type="button" class="trash-btn" data-toggle="modal" data-target="#myModal" rel="{{ article.article_id }}" title="{{ article.title }}">
           						 	<img src="/blog-mvc/assets/images/trash.png" style="width: 23px;" alt="">
            					</button>
          					</td>
        				</tr>
        			<!-- fermeture du while -->
        			{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


<!-- Création de le "modal" avec Bootstrap -->


<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
      	<div class="modal-content">
        	<div class="modal-header">
          		<h4 class="modal-title">Supprimer un article ?</h4>
          		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
            		<span aria-hidden="true">&times;</span>
          		</button>
        	</div>
        	<div class="modal-body">
          		<p>Voulez vous supprimer l'article suivant ?</p>
          		<p class="titre-user"></p>
        	</div>
        	<div class="modal-footer">
          		<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
          		<!--ajout de la classe btn-url-supp sur le lien du bouton-->
          		<a href="" type="button" class="btn btn-danger btn-url-supp">Supprimer l'article</a>
        	</div><!-- /.modal-footer -->
      	</div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
 </div><!-- /.modal -->

{% endblock %}

{% block footer %}

    {{parent()}}

{% endblock %}

{% block scripts %}

    {{parent()}}
    <script type="text/javascript">
    $(document).ready(function(){
    /*fonction au clic de la classe btn-supp*/
      $('.trash-btn').click(function(){
      /*définition de la valeur à supprimer*/
        valsupp=$(this).attr('rel');
        /*défintion du titre*/
        titre=$(this).attr('title');
        /*titre à afficher en "strong" à l'apparition du modal*/
        $('.titre-user').html('<strong>'+titre+'</strong>');
        /*définition de l'url a afficher*/
        url='delete/'+valsupp;
        /*quand suppression confirmée, retour à l'url prédéfinie*/
        $('.btn-url-supp').attr('href',url);
      });
    });
    </script>

{% endblock %}