{% extends 'common/logRegisterTemplate.php.twig' %}

{% block title %}

	<title>CoyoTech | Connexion</title>

{% endblock %}

{% block head %}

	{{parent()}}

{% endblock %}

{% block header %}

	{{parent()}}


{% endblock %}

{% block content %}

	<div class="container">
		<div class="row form-row">
			<div class="col-xs-12 col-md-4 text-center">
				<h2 class="login-title">Se connecter</h2>
				<form method="post" name="" role="" id="">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1"><img src="/blog-mvc/assets/images/user-icon.png" alt=""></span>
						</div>
						<input type="email" name="login" id="login" class="form-control" placeholder="Login Utilisateur (E-mail)" aria-label="Username" aria-describedby="basic-addon1">
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1"><img src="/blog-mvc/assets/images/key-icon.png" alt=""></span>
						</div>
						<input type="password" name="password" id="password" class="form-control" placeholder="Mot de passe" aria-label="Password" aria-describedby="basic-addon1">
					</div>
					<button type="submit" name="btn" id="btn" class="btn btn-primary btn-login">Se connecter</button>
				</form>
				<div>
					<a href="/blog-mvc/user/register/" class="register-link">Vous n'avez pas de pseudo sur CoyoTech, créez un compte !</a>
				</div>
				<!-- Link modal -->
				{# <a href="#" class="lost-password" data-toggle="modal" data-target="#passwordModal">Mot de passe oublié</a> #}
				<button type="button" class="btn btn-primary mt-3 btn-login" data-toggle="modal" data-target="#exampleModal">
					Mot de passe oublié
				</button>
			</div>
		</div>
		{% if message %}

			<div class="col-10 col-lg-6 mx-auto alert alert-ok alert-dismissible text-center" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				{{ message }}
			</div>

		{% endif %}
		{% if error %}

			<div class="col-6 mx-auto alert alert-error text-center" role="alert">
				{{ error }}
			</div>

		{% endif %}

	</div>


	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Réinitialisez votre mot de passe</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Vous avez oublié votre mot de passe ? </br>Indiquez votre adresse e-mail pour le réinitialiser.
				</div>
				<div class="modal-footer">
					<input type="email" name="change-login" id="change-login" class="form-control" placeholder="Login Utilisateur (E-mail)" aria-label="Username" aria-describedby="basic-addon1">
					<button type="button" class="btn btn-primary">Envoyez</button>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block footer %}

	{{parent()}}

{% endblock %}

{% block scripts %}

	{{parent()}}

{% endblock %}
