{% extends 'common/logRegisterTemplate.php.twig' %}

{% block title %}

    <title>CoyoTech | Connexion</title>

{% endblock %}

{% block head %}

    {{parent()}}

{% endblock %}

{% block header %}

        {{parent()}}
	

{% endblock %}

{% block content %}

<div class="container">
    <div class="row form-row">
        <div class="col-xs-12 col-md-4 text-center">
            <h2 class="login-title">Se connecter</h2>
            <form method="post" name="" role="" id="">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"><img src="/blog-mvc/assets/images/user-icon.png" alt=""></span>
                    </div>
                    <input type="email" name="login" id="login" class="form-control" placeholder="Login Utilisateur (E-mail)" aria-label="Username" aria-describedby="basic-addon1">
              </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"><img src="/blog-mvc/assets/images/key-icon.png" alt=""></span>
                    </div>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Mot de passe" aria-label="Password" aria-describedby="basic-addon1">
              </div>
                <button type="submit" name="btn" id="btn" class="btn btn-primary btn-login">Se connecter</button>
          </form>
          <a href="/blog-mvc/register/" class="small register-link">Vous n'avez pas de pseudo sur CoyoTech, créez un compte !</a>
          <!-- Link modal -->
          <a href="#" class="lost-password small" data-toggle="modal" data-target="#passwordModal">Mot de passe oublié</a>
        </div>
    </div>
    {% if error %}
        
        <div class="col-6 mx-auto alert alert-error text-center" role="alert">
            {{ error }}
        </div>
        
    {% endif %}
</div>


<!-- Modal -->
<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="passwordModalLabel">Mot de passe oublié</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">Vous avez oublié votre mot de passe ?<br />Indiquez votre adresse email pour le réinitialiser.
            </div>
            <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="email" placeholder="Adresse email" id="email" name="email" value="">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Réinitialiser</button>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}

    {{parent()}}

{% endblock %}

{% block scripts %}

    {{parent()}}
    
{% endblock %}